.color-body {
    background-color: #f3f3f3f8;
  }
  .font {
    font-family: "Almarai", sans-serif;
  }
  .title {
    color: #224F61;
    font-family: Almarai;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 64px;
  }
  .underline {
    height: 1px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #B45B35;
  }
  .btnn {
    color: rgb(54, 54, 54);
   font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    border: none;
    background-color: white;
    border: solid 1.5px  #B45B35;
    padding: 2px 10px ;
  }
  .btnn:hover {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #B45B35;
  }
  .img-item {
    height: 180px;
    width: 252px;
    border-radius: 5px;
  }
  .item-description {
    margin-top: 13px;
    color: #8C8C8C;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .item-title {
    color: #555555;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }
  .card-color {
    background-color: #F8F8F8;
  }
  .item-price {
    color: #B45B35;
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }
  .btn-search {
    color: #B45B35;
    border-radius: 3px solid #B45B35;
    border-radius: 8px;
    background-color: white;
  }
  .btn-search:hover {
    color: white;
    border-radius: 3px solid white;
    background-color: #B45B35;
    border-radius: 8px;
  }
  .brand-color {
    color: #be7555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 400;
  }
  .size{
    height: 140px;
  }